
.home__footer {
    grid-area: footer;
    width: 100%;
    height: 18.75em;
    background: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__footer > article{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
.footer__title{
height: 3.125em;
display: flex;
justify-content: center;
align-items: center;

}
.footer__title--1{
    width: 80%;
    height: 100%;
    border-bottom: 3px solid rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: relative;
}
.footer__title--1 > img {
    width: calc(8em + 8vw);
}
.footer__title--1 > div {
    /* transform: translate(-450px); */
 position: absolute;
 left: 0;
 display: flex;
 gap: 1.25em;
 
}
.title__logo--instagram{
display: flex;
justify-content: center;
align-items: center;
}
.title__logo--instagram > i{
color: var(--color-white);
font-size: calc(0.7em + 0.7vw);
}
.title__logo--facebook{
display: flex;
justify-content: center;
align-items: center; 
}
.title__logo--facebook > i {
color: var(--color-white);
font-size: calc(0.7em + 0.7vw);
}
.title__logo--twitter{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.title__logo--twitter > i{
    color: var(--color-white);
    font-size: calc(0.7em + 0.7vw);
}
.footer__suscribe{
/* min-width: 80%; */
height: 11.25em;
/* background: green; */
display: flex;
justify-content: center;
align-items: center;
 }
.footer__suscribe--1{
width: 100%;
height: 100%;
border-bottom: 3px solid rgb(56, 56, 56);
display: flex;
justify-content: space-between;

 }
.uno__direccion{
width: 25%;
height: 100%;
 }
.direccion--1__dir {
display: flex;
color: var(--color-white);
margin-top: 1.25em;
gap: 0.9375em;
font-size: calc(0.5em + 0.6vw);
 
}
.direccion--1__email {
display: flex;
color: var(--color-white);
margin-top: 1.25em;
gap: 0.9375em;
align-items: center;
font-size: calc(0.5em + 0.6vw);
}
.direccion--1__numero {
display: flex;
color: var(--color-white);
margin-top: 1.25em;
gap: 0.9375em;
align-items: center;
font-size: calc(0.5em + 0.6vw);

}
.direccion--1__numero > p{
    margin-left: 5px;
}
.uno__lista{
width: 25%;
height: 100%;
/* background: #5762f7; */
}
.uno__lista > ul {
display: flex;
flex-direction: column;
gap: 0.9375em;
align-items: center;
margin-top: 1.25em;
color: var(--color-white);
 font-size: calc(0.5em + 0.6vw);

}
.uno__email{
width: 50%;
height: 100%;
/* background: #524646; */
display: flex;
flex-direction: column;
margin-top: 0.7em;
gap: 1.25em;
align-items: center;
position: relative;
 
}
.uno__email> p{
    color: var(--color-white);
    font-size: calc(0.5em + 0.6vw);

}
.uno__email > form > div > input {
    width: calc(11.5em + 11.6vw);
    height: calc(1.5em + 1.6vw);
    border-radius: 5px;
    background: grey;
    color: var(--color-white);
    border: none;
    padding-left: 0.9375rem;
    /* font-size: 20px; */
    font-size: calc(0.7em + 0.6vw);

}
.uno__email > form> div > input::placeholder {
    /* padding-left: 10px; */
    font-size: calc(0.7em + 0.6vw);
    color: var(--color-white);
    
}
.uno__email > form> div > label {
    width: calc(4.5em + 4.6vw);
    height: calc(1.5em + 1.6vw);
    border-radius:  0px 5px 5px 0;
    background: var(--color-nav);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    cursor: pointer;
    font-size: calc(0.7em + 0.6vw);

}
.uno__email > form> div {
    display: flex;
    align-items: center;
    position: relative;
}

.footer__derechos{
/* min-width: 80%; */
height: 3.125em;
display: flex;
justify-content: center;
align-items: center;
 
}
.footer__derechos--1{
    width: 80%;
    height: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    color: var(--color-white);
    justify-content: space-between;
    font-size: calc(0.6em + 0.6vw);

}
.footer__derechos--1 > p{
   cursor: pointer;
   font-size: calc(0.6em + 0.6vw);

}
.logo1{
    width: calc(1.2em + 1.5vw);
    height: calc(1.2em + 1.5vw);
    border-radius: 50px;
    background: rgb(56, 56, 56);
    cursor: pointer;
}
.uno__lista > ul li {
    
    font-size: calc(0.6em + 0.6vw);
    
    }
@media screen and (max-width:600px) {
    .uno__lista > ul li {
    
        font-size: calc(0.7em + 0.6vw);
        
        }
        .footer__title--1{
           
            justify-content: flex-end;
            
        }
        .uno__email > form > div > input {
            width: calc(9.5em + 9.6vw);
            height: calc(1.5em + 1.6vw);
            
            font-size: calc(0.7em + 0.6vw);
        
        }
}
@media screen and (max-width:400px) {
    .footer__title--1 > div {
     display: none;
    }
    .footer__title--1{
           
        justify-content: center;
        
    }
    .uno__direccion{
     display: none;
        }
        .uno__email{
            width: 70%;
            height: 100%;
            /* background: #524646; */
            display: flex;
            flex-direction: column;
            margin-top: 0.7em;
            gap: 1.25em;
            align-items: center;
            position: relative;
             
            }
}