

:root {
    --color-white: #FFFFFF;
    --color-line : #E3E2E2; 
    --color-dark : #2D2D2C;
    --color-nav  : #F75757;
}


body {
    background: var(--color-white);
}

.home__container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 650px 600px 200px 800px 200px 70px 100px ;
    grid-template-areas: 
    /* "header header header header header" */
    "search search search search search"
    "verificados verificados verificados verificados verificados"
    "lugares lugares lugares lugares lugares"
    "randon randon randon randon randon"
    "publica publica publica publica publica"
    "img img img img img"
    "footer footer footer footer footer"
;
}
.home__header {
    position: absolute;
}

.home__verificados {
    grid-area: verificados;
    background: rgb(39, 39, 39);
}
.home__lugares {
    grid-area: lugares;
    background: rgb(136, 7, 7);
}
.home__randon {
    grid-area: randon;
    background: rgb(7, 9, 136);  
}
.home__publica {
    grid-area: publica;
    background: rgb(125, 7, 136);  
}
.home__img {
    grid-area: img;
    background: rgb(65, 65, 66);  
}

/* ////////////////////////////////footer////////////////////////// */

.home__footer > article{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
.home__footer {
    grid-area: footer;
    width: 100%;
    height: 300px;
    background: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__title{
/* min-width: 80%; */
height: 50px;
/* background: #F75757; */
display: flex;
justify-content: center;
align-items: center;
}
.footer__title--1{
    width: 80%;
    height: 100%;
    border-bottom: 3px solid rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer__title--1 > img {
    width: 19%;
}
.footer__title--1 > div {
    /* transform: translate(-450px); */
 position: absolute;
 left: 0;
 display: flex;
 gap: 20px;
}
.title__logo--instagram{
display: flex;
justify-content: center;
align-items: center;
}
.title__logo--instagram > i{
color: var(--color-white);
font-size: 20px;
}
.title__logo--facebook{
display: flex;
justify-content: center;
align-items: center; 
}
.title__logo--facebook > i {
color: var(--color-white);
font-size: 20px;
}
.title__logo--twitter{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.title__logo--twitter > i{
    color: var(--color-white);
    font-size: 20px;
}
.footer__suscribe{
/* min-width: 80%; */
height: 180px;
/* background: green; */
display: flex;
justify-content: center;
align-items: center;
}
.footer__suscribe--1{
width: 80%;
height: 100%;
border-bottom: 3px solid rgb(56, 56, 56);
display: flex;
}
.uno__direccion{
width: 25%;
height: 100%;
background: #F75757;
}
.uno__lista{
width: 25%;
height: 100%;
background: #5762f7;
}
.uno__lista > ul {
display: flex;
flex-direction: column;
gap: 15px;
align-items: center;
margin-top: 10px;
color: var(--color-white);
}
.uno__email{
width: 50%;
height: 100%;
background: #524646;
}

.footer__derechos{
/* min-width: 80%; */
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}
.footer__derechos--1{
    width: 80%;
    height: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    color: var(--color-white);
    justify-content: space-between;
}
.footer__derechos--1 > p{
   cursor: pointer;
}
.logo1{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: rgb(56, 56, 56);
    cursor: pointer;
}

/* ////////////////////////////////footer////////////////////////// */

/* //////////////home search/////////////// */
.home__search {
    grid-area: search;
    background: darkcyan;
    background-image: url('../../public/assets/home-1.jpg');
    object-fit: cover;
    background-size: 100% auto;
    background-position: 10% 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__search > article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.home__search--nombre {
color: var(--color-white);
font-size: 3.125em;
}
.home__search--input {
/* width: 900px ; */
width: 62.5em ;
/* min-width: 400px; */
min-height: 5em;
background: var(--color-white);
border-radius: 2.5em;
display: flex;
justify-content: space-between;
align-items: center;

}
.input__select {
width: 12.375em;
height: 3.125em;
/* background: red; */
display: flex;
justify-content: end;
align-items: center;
/* margin-left: 1.25em; */
}
.input__select > p {
    color: gray;
    font-size: 20px;
    cursor: pointer;
}
.input__logo {
width: 5.625em;
height: 3.75em;
background: var(--color-nav);
border-radius: 2.5em;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
margin-right: 1.25em;

}
.input__logo > i {
    color: var(--color-white);
    font-size: 1.875em;

}

